.NewTodoTask{
    text-align: center;
}

.label{
    text-align: center;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form_field{
    border: 0;
    outline: 0;
    border-bottom: 2px solid grey;
    width: 20%;

}