.OuterBox{
    background-color: rgba(202, 208, 211, 0.24);
    border-style: solid;
    border-color: cadetblue;
    border-radius: 30px;
    border-width: thin;
    text-align: center;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 20px;
    min-width: 50%;
}

