.TaskBox{
    border-bottom: cadetblue;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.right-box{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.left-box{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.task-text{
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

.task-status{
    font-size: small;
    cursor: pointer;
}

.line-through {
    text-decoration-line: line-through;
}

.buttonStyling { background: #FF4742; 
    border: 1px solid #FF4742; 
    border-radius: 6px; 
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px; 
    box-sizing: border-box; 
    color: #FFFFFF; cursor: pointer; 
    display: inline-block; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px; font-weight: 800; 
    line-height: 16px; min-height: 20px; 
    outline: 0; padding: 5px 8px; 
    text-align: center; text-rendering: geometricprecision; 
    text-transform: none; 
    user-select: none; -webkit-user-select: none; 
    touch-action: manipulation; vertical-align: middle; 
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
} 
    
    
.buttonStyling:hover, .buttonStyling:active { 
    background-color: initial; 
    background-position: 0 0; 
    color: #FF4742; } 
        
        
.buttonStyling:active { 
  opacity: .5; 
}

.trash-can{
    cursor: pointer;
    padding-left: 15px;
    padding-top: 5px;
}

.input-field{
    margin-left: 5px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid grey;
    width: 60%;
    background-color: rgba(202, 208, 211, 0);
}
