.TaskBox{
    border-bottom: cadetblue;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.right-box{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.left-box{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.task-text{
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

.task-status{
    font-size: small;
    cursor: pointer;
}

.line-through {
    text-decoration-line: line-through;
}

.trash-can{
    cursor: pointer;
    padding-left: 15px;
    padding-top: 2px;
}